
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #2B2D2D;
  font-family: "遊ゴシック", "YuGothic", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック";
}
label {
  padding-top: 9px;
  padding-bottom: 8px;
}
select {
  height: 40px;
}

@media (max-width: 600px){
  label {
    text-align: right;
    margin-bottom: 5px;
    padding: 0 250px 0 0px;
  }
  textarea {
    max-width: 100%;
    resize: none;
  }
  input {
    width: 500px;
    height: 35px;
  }
}
